{% extends "web/base.html" %}
{% load static %}
{% block content %}

<main class="main_gallery ">
  <div class="container gallery">
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FABLOCKACE5.png' %}" data-fancybox="gallery" data-caption="FABLOCK ACE">
          <img src="{% static 'web/assets/images/Products/FABLOCKACE5.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FABLOCKACE2.png' %}" data-fancybox="gallery" data-caption="FABLOCK ACE">
          <img src="{% static 'web/assets/images/Products/FABLOCKACE2.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FABLOCKACE3.png' %}" data-fancybox="gallery" data-caption="FABLOCK ACE">
          <img src="{% static 'web/assets/images/Products/FABLOCKACE3.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/SMART_FABLOCK2.png' %}" data-fancybox="gallery" data-caption="SMART FABLOCK PLUS">
          <img src="{% static 'web/assets/images/Products/SMART_FABLOCK2.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/SMART_FABLOCK3.png' %}" data-fancybox="gallery" data-caption="SMART FABLOCK PLUS">
          <img src="{% static 'web/assets/images/Products/SMART_FABLOCK3.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/SMART_FABLOCK4.png' %}" data-fancybox="gallery" data-caption="SMART FABLOCK PLUS">
          <img src="{% static 'web/assets/images/Products/SMART_FABLOCK4.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FISH_CLEAT1.png' %}" data-fancybox="gallery" data-caption="FISH CLEAT">
          <img src="{% static 'web/assets/images/Products/FISH_CLEAT1.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FISH_CLEAT2.png' %}" data-fancybox="gallery" data-caption="FISH CLEAT">
          <img src="{% static 'web/assets/images/Products/FISH_CLEAT2.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FISH_CLEAT3.png' %}" data-fancybox="gallery" data-caption="FISH CLEAT">
          <img src="{% static 'web/assets/images/Products/FISH_CLEAT3.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/ALUCORNER2.png' %}" data-fancybox="gallery" data-caption="ALU CORNER">
          <img src="{% static 'web/assets/images/Products/ALUCORNER2.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/ALUCORNER3.png' %}" data-fancybox="gallery" data-caption="ALU CORNER">
          <img src="{% static 'web/assets/images/Products/ALUCORNER3.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/ALUCORNER4.png' %}" data-fancybox="gallery" data-caption="ALU CORNER">
          <img src="{% static 'web/assets/images/Products/ALUCORNER4.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FABSCREEN1_SDSLuHW.png' %}" data-fancybox="gallery" data-caption="FABSCREEN">
          <img src="{% static 'web/assets/images/Products/FABSCREEN1_SDSLuHW.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FABSCREEN3_zksa6c1.png' %}" data-fancybox="gallery" data-caption="FABSCREEN">
          <img src="{% static 'web/assets/images/Products/FABSCREEN3_zksa6c1.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <a href="{% static 'web/assets/images/Products/FABSCREEN4.png' %}" data-fancybox="gallery" data-caption="FABSCREEN">
          <img src="{% static 'web/assets/images/Products/FABSCREEN4.png' %}" alt="Image Gallery">
        </a>
      </div>
    </div>
  </div>
</main>
<!-- partial -->
  
{% endblock %}
